<h2>Edit couple</h2>

<%= render "form.html", changeset: @changeset,
                        action: couple_path(@conn, :update, @couple), users: @users %>

<%= link "Back", to: couple_path(@conn, :index) %>
